# Database Configuration
DATABASE_URL="postgresql://postgres:password@localhost:5432/vn_plant?schema=public"

# JWT Configuration
JWT_SECRET="your-secret-key"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Server Configuration
PORT=3000
NODE_ENV="development"
# Dùng cho Local: http://localhost:5173
# Dùng cho Docker: http://localhost:5050
# Có thể nhập nhiều URL cách nhau bởi dấu phẩy: "https://site1.com, https://site2.com"
CLIENT_URL="http://localhost:5173"
